<!-- action 傳送到的位置;傳送的方式 -->
<form action="/calc/bmi/result" method="POST"> 
    <label style="display: block; margin: 10px;">
        身高: <input type="text" name="height"> cm
    </label>
    <label style="display: block; margin: 10px;">
        體重: <input type="text" name="weight"> kg
    </label>
    <input type="submit" value="送出">

</form>